html(ng-app='Fraccionamiento')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='js/angular.min.js')
    script(type='text/javascript', src='js/angularmodule.js')
    title Fraccionamiento
    script(type='text/javascript', src='js/jquery-1.11.1.min.js')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    script(type='text/javascript', src='js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway|Molengo', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
    script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type='text/javascript',src = 'js/visitModule.js')
    script(src="/socket.io/socket.io.js")
    //script(src='js/socketIO.js')
   

  body(ng-controller="visitController")


      header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
             .container 
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#')
                  img(alt = "Brand",src='/images/house112.svg')
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='/start')
                      | Inicio 
                      span.sr-only (current)
                  
                  li.dropdown(ng-hide = '{{onlyReadCookie}}')
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                      | Registro 
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='/addResident') Residentes
                      li
                        a(href='/addPeople') Visitantes
                      li
                        a(href='/addVisit') Visitas
                      li.divider
                      li
                        a(href='/addCluster') Clusters
                      li
                        a(href='/addHouse') Casas
                      li
                        a(href='/addUser',ng-show = '{{userCookie}}') Administradores

                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                      | Busqueda 
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='/residentSearch') Residentes
                      li
                        a(href='/peopleSearch') Visitantes
                      li
                        a(href='/visitSearch') Visitas
                      li.divider
                      li
                        a(href='/clusterSearch') Clusters
                      li
                        a(href='/houseSearch') Casas
                      li
                        a(href='/userSearch',ng-show = '{{userCookie}}') Administradores
                  li.active
                    a(href='/alertModule')
                      | Vigilancia 
                      span.sr-only (current)

                
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/logout')
                      button.btn.btn-info#btnSesion Cerrar Sesión

      .container.maindiv
        .row
          .col-md-5.col-md-offset-1
            label.formLabel Cluster Principal:
            select.formInput(id='cluster',ng-model='clusterId',ng-change='showHouse()',required).form-control
              option(disabled selected, value='') Cluster 
              option( ng-repeat="cluster in clusters",value='{{cluster.objectId}}'){{cluster.nickname}}
         
          .col-md-5.col-md-offset-1
            label.formLabel Número de Casa:
            select.formInput(id='houseNumber',ng-model='casaId', ng-change ='showResident()',required).form-control
              option(disabled selected,value='') Número de Casa
              option( ng-repeat="numHouse in numberHouse",value='{{numHouse.objectId}}'){{numHouse.number}}


        .row
          .col-md-6.col-md-offset-3
            form(method = 'post', action='/visits', name='visitForm',ng-submit='message()')
              .form-group
                label.formLabel Residente:
                select.form-control.formInput(name='idResi',required)
                  option(ng-repeat='resi in resident',value = '{{resi.objectId}}'){{resi.name}}
              .row
                .form-group.col-md-5
                    label.formLabel Tipo de Visitante:
                    select.formInput(ng-model = 'peopleType',ng-change='showPeople()',name= 'peopleType',required).form-control
                      option(disabled selected,value='') Tipo de Visitante
                      option(value='Proovedor') Proovedor
                      option(value='Visitante') Visitante
                  

                .form-group.col-md-7
                    label.formLabel Visitante:
                    select.formInput(ng-model='visitName',name= 'visitName',required).form-control
                      option(disabled selected,value='') Visitante
                      option(name= 'visitName',ng-repeat = 'people in peoples',value='{{people.objectId}}'){{people.name}}
              .row
                .form-group.col-md-5.col-md-offset-9
                  i Agregar Vehículo: 
                    input(type='checkbox', ng-model='showCar',name= 'carCheck') 


              .row(ng-show='showCar')
                .form-group.col-md-9.col-md-offset-2
                  label.formLabel Vehículo:
                  input.form-control.formInput(id='brand',type='text', placeholder='Agencia del Vehículo',name= 'brand',ng-model='brand')
                .form-group.col-md-9.col-md-offset-2
                  input.form-control.formInput(id='color',type='text', placeholder='Color del Vehículo',name= 'color',ng-model='color')
                .form-group.col-md-9.col-md-offset-2
                  input.form-control.formInput(id='model',type='text', placeholder='Modelo del Vehículo',name= 'model',ng-model='model')
                .form-group.col-md-9.col-md-offset-2
                  input.form-control.formInput(id='placas',type='text', placeholder='Placas del Vehículo',name= 'placas', ng-model='placas')
              
              .form-group
                label.formLabel Fecha:
                input.form-control.formInput(id='momentDate',type='date',name= 'date',readonly,required)
              
              .form-group
                label.formLabel Hora de Entrada:
                input.form-control.formInput(id='momentHour',type='time',name= 'entryHour',readonly,required)
              
              .form-group
                button.btn.btn-primary.btn-lg.btn-block.formButton(type='submit',id='visit') Guardar Visita

    
                
