html(ng-app='Fraccionamiento')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='js/angular.min.js')
    script(type='text/javascript', src='js/angularmodule.js')
    title Fraccionamiento
    script(type='text/javascript', src='js/jquery-1.11.1.min.js')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    script(type='text/javascript', src='js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway|Molengo', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
    script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type='text/javascript',src = 'js/visitModule.js')
    script(src="/socket.io/socket.io.js")
    //script(src='js/socketIO.js')
   

  body(ng-controller="alertController")


      header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
             .container 
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#')
                  img(alt = "Brand",src='/images/house112.svg')
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='/start')
                      | Inicio 
                      span.sr-only (current)
                  
                  li.dropdown(ng-hide = '{{onlyReadCookie}}')
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                      | Registro 
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='/addResident') Residentes
                      li
                        a(href='/addPeople') Visitantes
                      li
                        a(href='/addVisit') Visitas
                      li.divider
                      li
                        a(href='/addCluster') Clusters
                      li
                        a(href='/addHouse') Casas
                      li
                        a(href='/addUser',ng-show = '{{userCookie}}') Administradores

                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                      | Busqueda 
                      span.caret
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='/residentSearch') Residentes
                      li
                        a(href='/peopleSearch') Visitantes
                      li
                        a(href='/visitSearch') Visitas
                      li.divider
                      li
                        a(href='/clusterSearch') Clusters
                      li
                        a(href='/houseSearch') Casas
                      li
                        a(href='/userSearch',ng-show = '{{userCookie}}') Administradores
                  li.active
                    a(href='/alertModule')
                      | Vigilancia 
                      span.sr-only (current)

                
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/logout')
                      button.btn.btn-info#btnSesion Cerrar Sesión

        .container.maindiv
          .row
            .col-md-offset-1.col-md-10
              .list-group(id='list')
                a.list-group-item.disabled.list-group-item-info(align='center')
                  | Visitas en Espera por Confirmar Llegada
                