html(ng-app="Fraccionamiento")
  head
    meta(charset='utf-8')
     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
     
    meta(name='viewport', content='width=device-width, initial-scale=1')
     
    script(type='text/javascript', src='js/angular.min.js')
     
    title Fraccionamiento
     
    script(type='text/javascript', src='js/jquery-1.11.1.min.js') 
    script(type='text/javascript', src="js/angularmodule.js")
    script(type='text/javascript', src='js/bootstrap.min.js')
     
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway|Molengo', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')

  body(ng-controller="peopleController")
                

    .container.maindiv
      .row
        .col-md-6.col-md-offset-3
          form(method='post',action='/photoCard', enctype ='multipart/form-data')
             
            .form-group
              label.formLabel Foto/Identificaci&oacute;n:
               
              input.formInput(type='file',name="photoCard",required)
             
            
             
            .form-group
              button.btn.btn-primary.btn-lg.btn-block.formButton(type='submit',value="Guardar") Guardar Visitante
      .row
        .col-md-6.col-md-offset-
          img(ng-src = '/images/image.jpg')
