html(ng-app='Fraccionamiento')
  head
    meta(charset='utf-8')
     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
     
    meta(name='viewport', content='width=device-width, initial-scale=1')
     
    script(type='text/javascript', src='js/angular.min.js')
    script(type='text/javascript', src='js/angularmodule.js')
     
    title Fraccionamiento
     
    script(type='text/javascript', src='js/jquery-1.11.1.min.js')
     
    link(rel='stylesheet', type='text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    script(type='text/javascript', src='js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway|Molengo', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')
    

  body(ng-controller = 'indexController')

        header
          nav.navbar.navbar-default.navbar-fixed-top
              .container-fluid
               .container 
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                  button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='#')
                    img(alt = "Brand",src='/images/house112.svg')
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                  ul.nav.navbar-nav
                    li.active
                      a(href='/start')
                        | Inicio 
                        span.sr-only (current)
                    
                    li.dropdown(ng-hide = '{{onlyReadCookie}}')
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                        | Registro 
                        span.caret
                      ul.dropdown-menu(role='menu')
                        li
                          a(href='/addResident') Residentes
                        li
                          a(href='/addPeople') Visitantes
                        li
                          a(href='/addVisit') Visitas
                        li.divider
                        li
                          a(href='/addCluster') Clusters
                        li
                          a(href='/addHouse') Casas
                        li
                          a(href='/addUser',ng-show = '{{userCookie}}') Administradores

                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                        | Busqueda 
                        span.caret
                      ul.dropdown-menu(role='menu')
                        li
                          a(href='/residentSearch') Residentes
                        li
                          a(href='/peopleSearch') Visitantes
                        li
                          a(href='/visitSearch') Visitas
                        li.divider
                        li
                          a(href='/clusterSearch') Clusters
                        li
                          a(href='/houseSearch') Casas
                        li
                          a(href='/userSearch',ng-show = '{{userCookie}}') Administradores
                    li.active
                      a(href='/alertModule')
                        | Vigilancia 
                        span.sr-only (current)

                  
                  ul.nav.navbar-nav.navbar-right
                    li
                      a(href='/logout')
                        button.btn.btn-info#btnSesion Cerrar Sesión

        .container.maindiv.formTable
       
          .row
            .col-md-4
              .thumbnail
                img(src='/images/officeworker2.svg', alt='Residentes',width='242',heigth='200')
                .caption
                  h3 Residentes
                  p Registra, Busca o Elimina Residentes de la Base de Datos Mediante simples Formulario y Consultas establecidas.
                  p
                    a.btn.btn-primary(href='/addResident', role='button',ng-hide='{{onlyReadCookie}}') Registrar 
                      span(class="glyphicon glyphicon-send" aria-hidden="true")
                    a.btn.btn-default(href='/residentSearch', role='button') Buscar 
                      span(class="glyphicon glyphicon-search" aria-hidden="true")

            .col-md-4
              .thumbnail
                img(src='/images/traveler.svg', alt='Visitantes',width='242',heigth='200')
                .caption
                  h3 Visitantes
                  p Registra, Busca o Elimina Vistantes de la Base de Datos Mediante simples Formulario y Consultas establecidas.
                  p
                    a.btn.btn-primary(href='/addPeople', role='button',ng-hide='{{onlyReadCookie}}') Registrar 
                      span(class="glyphicon glyphicon-send" aria-hidden="true")
                    a.btn.btn-default(href='/peopleSearch', role='button') Buscar 
                      span(class="glyphicon glyphicon-search" aria-hidden="true")

            .col-md-4
              .thumbnail
                img(src='/images/traffic17.svg', alt='Visitas',width='242',heigth='200')
                .caption
                  h3 Visitas
                  p Agenda, Busca o Elimina una Visita de la Base de Datos Mediante simples Formulario y Consultas establecidas.
                  p
                    a.btn.btn-primary(href='/addVisit', role='button',ng-hide='{{onlyReadCookie}}') Registrar 
                      span(class="glyphicon glyphicon-send" aria-hidden="true")
                    a.btn.btn-default(href='/visitSearch', role='button') Buscar 
                      span(class="glyphicon glyphicon-search" aria-hidden="true")

          .row
            .col-md-4.col-md-offset-2
              .thumbnail
                img(src='/images/house111.svg', alt='Clusters',width='242',heigth='200')
                .caption
                  h3 Clusters
                  p Registra, Busca o Elimina Clusters de la Base de Datos Mediante simples Formulario y Consultas establecidas.
                  p
                    a.btn.btn-primary(href='/addCluster', role='button',ng-hide='{{onlyReadCookie}}') Registrar  
                      span(class="glyphicon glyphicon-send" aria-hidden="true")
                    a.btn.btn-default(href='/clusterSearch', role='button') Buscar 
                      span(class="glyphicon glyphicon-search" aria-hidden="true")

            .col-md-4
              .thumbnail
                img(src='/images/house112.svg', alt='Casas',width='242',heigth='200')
                .caption
                  h3 Casas
                  p Registra, Busca o Elimina Casas de la Base de Datos Mediante simples Formulario y Consultas establecidas.
                  p
                    a.btn.btn-primary(href='/addHouse', role='button',ng-hide='{{onlyReadCookie}}') Registrar 
                      span(class="glyphicon glyphicon-send" aria-hidden="true")
                    a.btn.btn-default(href='/houseSearch', role='button') Buscar 
                      span(class="glyphicon glyphicon-search" aria-hidden="true")


      
    


