html(ng-app="Fraccionamiento")
  head
    meta(charset='utf-8')
     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='js/angular.min.js')
     
    title Fraccionamiento
     
    script(type='text/javascript', src='js/jquery-1.11.1.min.js')
    link(rel='stylesheet', type='text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    script(type='text/javascript', src="js/angularmodule.js")
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(type='text/javascript', src='js/bootstrap.min.js')
    link(href='http://fonts.googleapis.com/css?family=Raleway|Molengo', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')
    


  body.main(ng-controller = "loginController")
   .container.mainDiv
    .row
     
        .jumbotron.formLabel
          h1 Control de Fraccionamiento

          p ¡Bienvenido al Sistema! Por favor, ingresa tu usuario y contraseña correctos para poder iniciar sesión.


            form(id='logForm',method ='post', action='/login')

                .row
                    .form-group.col-md-4
                        input.form-control(type='text', placeholder='Usuario',name='name',ng-model='userName',ng-change='quitSpaces()',required)

                .row
                    .form-group.col-md-4
                        input.form-control(type='password', placeholder='Contraseña',name='pass',required)
                .row
                    .form-group.col-md-2    
                        button.btn.btn-primary.btn-lg(type = 'submit') Iniciar Sesión 
                         span(class="glyphicon glyphicon-send" aria-hidden="true")
                    .alert.alert-danger.col-md-offset-1.col-md-5.alertWell(role='alert',ng-show = '#{failLogin}')
                        ¡Algo salió mal!    Revisa tu Usuario o Contraseña

  footer 
    nav.navbar.navbar-default.navbar-fixed-bottom
      .container-fluid
        .navbar-header
          a.navbar-brand(href='')
            img(alt='Brand', src='/images/house112.svg')

          p.navbar-text
           |  Control de Fraccionamiento 2015 V.0.1 ©



