html(ng-app='Fraccionamiento')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='js/angular.min.js')
    script(type='text/javascript', src='js/angularmodule.js')  
    title Fraccionamiento
    script(type='text/javascript', src='js/jquery-1.11.1.min.js')
    link(rel='stylesheet', type='text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    script(type='text/javascript', src='js/bootstrap.min.js')

    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway|Molengo', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')

  body(ng-controller='peopleSearchController')

    header
      nav.navbar.navbar-default.navbar-fixed-top
          .container-fluid
           .container 
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                img(alt = "Brand",src='/images/house112.svg')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/start')
                    | Inicio 
                    span.sr-only (current)
                
                li.dropdown(ng-hide = '{{onlyReadCookie}}')
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | Registro 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/addResident') Residentes
                    li
                      a(href='/addPeople') Visitantes
                    li
                      a(href='/addVisit') Visitas
                    li.divider
                    li
                      a(href='/addCluster') Clusters
                    li
                      a(href='/addHouse') Casas
                    li
                      a(href='/addUser',ng-show = '{{userCookie}}') Administradores
                

                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | Busqueda 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/residentSearch') Residentes
                    li
                      a(href='/peopleSearch') Visitantes
                    li
                      a(href='/visitSearch') Visitas
                    li.divider
                    li
                      a(href='/clusterSearch') Clusters
                    li
                      a(href='/houseSearch') Casas
                    li
                      a(href='/userSearch',ng-show = '{{userCookie}}') Administradores

                li.active
                    a(href='/alertModule')
                      | Vigilancia 
                      span.sr-only (current)

              
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/logout')
                    button.btn.btn-info#btnSesion Cerrar Sesión

    .container.maindiv
      .row
        .col-md-8.col-md-offset-2
          form
            .form-group.col-md-4
                  label.formLabel Tipo de Visitante:
                  select.formInput(ng-model = 'peopleType',ng-change='showPeople()',name= 'peopleType').form-control
                    option(value='Proovedor') Proovedor
                    option(value='Visitante') Visitante
            .form-group.col-md-6.col-md-offset-1
              label.formLabel Nombre del Visitante:
              select.form-control.formInput(placeholder='Nombre del Visitante',ng-model='visitorId',ng-change='showVisitor()')
                option(ng-repeat='people in peoples',value = '{{people.objectId}}'){{people.name}}

      .row    
        .col-md-10.col-md-offset-1
          .table-responsive
            table.table.table-hover(width='100%',cellspacing='0', cellpadding='0')
              tr.formTable.text-center

                td(width="60",valign="middle")
                  strong Visitante
                td(width="60",valign="middle")
                  strong Tipo
                td(width="80",valign="middle") 
                  strong Teléfono
                td(width="100",valign="middle") 
                  strong E-mail
                td(width="40",valign="middle")
                
              
              tr.formTable.text-center(ng-show='flag')
        
                td {{visitors.name}}
                td {{visitors.peopleType}}
                td {{visitors.phoneHome}}
                td {{visitors.email}}
                td 
                  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal',ng-click='showDetails(visitors.objectId)') Detalles 
                    span(class="glyphicon glyphicon-option-vertical" aria-hidden="true") 

                  // Modal
                  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#myModalLabel.modal-title Detalles del Visitante
                        .modal-body
                          .row
                            .col-md-4
                              label Nombre: 
                            .col-md-8
                              {{visitorDetails.name}}
                          .row
                            .col-md-4
                              label Tipo de Visitante: 
                            .col-md-8
                              {{visitorDetails.peopleType}}
                          .row
                            .col-md-4
                              label Telefono Movil:
                            .col-md-8 
                              {{visitorDetails.mobilePhone}}
                          .row
                            .col-md-4
                              label Telefono Fijo:
                            .col-md-8 
                              {{visitorDetails.phoneHome}}
                          .row
                            .col-md-4
                              label E-mail: 
                            .col-md-8
                              {{visitorDetails.email}}
                          .row
                            .col-md-4
                              label Automoviles: 
                            .col-md-8(ng-repeat='carDetails in carDetails')
                              {{carDetails.badge}} - {{carDetails.model}} - {{carDetails.color}} - {{carDetails.placas}}
                          .row
                            .col-md-offset-2.col-md-8
                              img(ng-src= '/images/visitorPhoto/{{visitorDetails.objectId}}.png', alt="Responsive image", class="img-rounded",width='242',heigth='200')

                        .modal-footer
                          .row
                            .col-md-3
                              button.btn.btn-danger(type='button',ng-click='deleteVisitor(visitorDetails.objectId)',ng-disabled = '{{onlyReadCookie}}') Eliminar 
                                span(class="glyphicon glyphicon-trash" aria-hidden="true")
                            .col-md-offset-5.col-md-4
                              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar

                td 
                  button.btn.btn-info(type='button', data-toggle='modal', data-target='#myModal1',ng-click='showDetails(visitors.objectId)',ng-disabled = '{{onlyReadCookie}}') Modificar 
                    span(class="glyphicon glyphicon-option-vertical" aria-hidden="true") 

                  // Modal
                  #myModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel1', aria-hidden='true')
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#myModalLabel1.modal-title Modificar del Visitante
                        form()
                          .modal-body
                            .row
                              .col-md-4
                                label Nombre: 
                              .col-md-8
                                .form-group
                                  input.form-control(name= 'name', type='text', required, ng-model='name')
                            .row
                              .col-md-4
                                label Tipo de Visitante: 
                              .col-md-8
                                .form-group
                                    select(name= 'peopleType',required, ng-model='peopleT').form-control
                                      option(disabled selected, value = '') Tipo de Visitante
                                      option(value='Proovedor') Proovedor
                                      option(value='Visitante') Visitante
                            .row
                              .col-md-4
                                label Telefono Movil:
                              .col-md-8 
                                .form-group
                                  input.form-control(name= 'mobilePhone', type='text', ng-model='mobilePhone')
                            .row
                              .col-md-4
                                label Telefono Fijo:
                              .col-md-8 
                                .form-group
                                  input.form-control(name= 'phoneHome', type='text', ng-model='phoneHome')
                            .row
                              .col-md-4
                                label E-mail: 
                              .col-md-8
                                .form-group
                                  input.form-control(name= 'email', type='email',required, ng-model='email')

                          .modal-footer
                            .row
                              .col-md-3
                                .form-group
                                  button.btn.btn-info(type='submit', ng-click='updatePeople(visitorDetails.objectId)') Guardar Cambios 
                                    span(class="glyphicon glyphicon-ok" aria-hidden="true")
                              .col-md-offset-5.col-md-4
                                button.btn.btn-default(type='button', data-dismiss='modal') Cerrar

