html
  head
   script(type='text/javascript', src='js/jquery-1.11.1.min.js')
   script(type='text/javascript',src='js/photoExample.js')
   link(rel='stylesheet', type='text/css', href="css/photoExample.css")
  body
    #botonera
      input(id='botonIniciar',type='button', value='Nueva Foto')
      //input(id='botonDetener',type='button', value='Detener')
      input(id='botonFoto',type='button', value='Foto')
    .contenedor
      
      video(id='camara',autoplay controls)
    
      
      canvas(id='foto')