html(ng-app='Fraccionamiento')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    script(type='text/javascript', src='js/angular.min.js')
    script(type='text/javascript', src='js/angularmodule.js')  
    title Fraccionamiento
    script(type='text/javascript', src='js/jquery-1.11.1.min.js')
    link(rel='stylesheet', type='text/css', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    script(type='text/javascript', src='js/bootstrap.min.js')

    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Raleway|Molengo', rel='stylesheet', type='text/css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')

    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
    script(type='text/javascript', src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type='text/javascript',src = 'js/visitModule.js')
    

  body(ng-controller='visitSearchController')

   header
      nav.navbar.navbar-default.navbar-fixed-top
          .container-fluid
           .container 
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#')
                img(alt = "Brand",src='/images/house112.svg')
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/start')
                    | Inicio 
                    span.sr-only (current)
                
                li.dropdown(ng-hide = '{{onlyReadCookie}}')
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | Registro 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/addResident') Residentes
                    li
                      a(href='/addPeople') Visitantes
                    li
                      a(href='/addVisit') Visitas
                    li.divider
                    li
                      a(href='/addCluster') Clusters
                    li
                      a(href='/addHouse') Casas
                    li
                      a(href='/addUser',ng-show = '{{userCookie}}') Administradores
                
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | Busqueda 
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/residentSearch') Residentes
                    li
                      a(href='/peopleSearch') Visitantes
                    li
                      a(href='/visitSearch') Visitas
                    li.divider
                    li
                      a(href='/clusterSearch') Clusters
                    li
                      a(href='/houseSearch') Casas
                    li
                      a(href='/userSearch',ng-show = '{{userCookie}}') Administradores
                li.active
                    a(href='/alertModule')
                      | Vigilancia 
                      span.sr-only (current)

              
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/logout')
                    button.btn.btn-info#btnSesion Cerrar Sesión

    .container.maindiv
      .row
        .col-md-4.col-md-offset-4
          form
            .form-group
              label.formLabel Fecha de la Visita:
              input.form-control.formInput(type='date',ng-model='visitDate',ng-change='showVisit()',id = 'inputDate')


              
          

      .row
        .col-md-12
          .table-responsive
            table.table.table-hover(width='100%',cellspacing='0', cellpadding='0')
              tr.formTable.text-center
                td(width="60",valign="middle")
                  strong Residente
                td(width="60",valign="middle") 
                  strong Visitante
                td(width="40",valign="middle") 
                  strong Fecha
                td(width="140",valign="middle") 
                  strong Hora Entrada
                td(width="140",valign="middle") 
                  strong Hora Salida
                td(width="20",valign="middle")

              
              tr.formTable.text-center(ng-repeat='visit in visits',ng-class = "{'danger': visit.exitHour == undefined}")
                td {{visit.residentName}}
                td {{visit.visitorName}}
                td {{visit.date}}
                td {{visit.entryHour}}
                td {{visit.exitHour}}
                td
                  button.btn.btn-primary(ng-hide = 'visit.exitHour',ng-disabled = '{{onlyReadCookie}}',type='button', data-toggle='modal', data-target='#myModal1', id ="btnHour",ng-click='showDetails(visit.objectId)') Hora de Salida  
                    span(class="glyphicon glyphicon-plus" aria-hidden="true")
                      
                  // Modal
                  #myModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel1', aria-hidden='true')
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#myModalLabel1.modal-title Agregar Hora de Salida
                        .modal-body
                          .row
                            .form-group
                              .col-md-4.col-md-offset-4
                                label Hora de Salida:
                                input.form-control.formInput(type='time',required, ng-model = 'hour')
                                
                        .modal-footer
                          .row
                            .col-md-3
                              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar
                            .col-md-offset-4.col-md-4
                              button.btn.btn-primary(type='button',ng-click = "putHour(visitDetails.objectId)") Aceptar   
                                span(class="glyphicon glyphicon-ok" aria-hidden="true")
                  

              
                  button.btn.btn-primary(ng-show = 'visit.exitHour',type='button', data-toggle='modal', data-target='#myModal',ng-click='showDetails(visit.objectId)') Detalles 
                    span(class="glyphicon glyphicon-option-vertical" aria-hidden="true")
                      
                  // Modal
                  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                    .modal-dialog
                      .modal-content
                        .modal-header
                          button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                          h4#myModalLabel.modal-title Detalles de Visita
                        .modal-body
                          .row
                            .col-md-3
                              label Residente: 
                            .col-md-8.col-md-offset-1
                              {{visitDetails.residentName}}
                          .row
                            .col-md-3
                              label Visitante: 
                            .col-md-8.col-md-offset-1
                              {{visitDetails.visitorName}}
                          .row
                            .col-md-4
                              label Hora de Entrada:
                            .col-md-8 
                              {{visitDetails.entryHour}}
                          .row
                            .col-md-4
                              label Hora de Salida:
                            .col-md-8 
                              {{visitDetails.exitHour}}
                          .row
                            .col-md-3
                              label Fecha: 
                            .col-md-8.col-md-offset-1
                              {{visitDetails.date}}
                          .row
                            .col-md-3
                              label Automovil: 
                            .col-md-8.col-md-offset-1
                              {{carDetails.badge}} - {{carDetails.model}} - {{carDetails.color}} - {{carDetails.placas}}

                        .modal-footer
                          .row
                            .col-md-3
                              button.btn.btn-danger(type='button',ng-click='deleteVisit(visitDetails.objectId)',ng-disabled = '{{onlyReadCookie}}'),ng-disabled = '{{onlyReadCookie}}' Eliminar 
                                span(class="glyphicon glyphicon-trash" aria-hidden="true")
                            .col-md-offset-5.col-md-4
                              button.btn.btn-default(type='button', data-dismiss='modal') Cerrar