.main{

	background-image: url("../images/city-wallpaper-11.jpg");
	

}
.maindiv {

	position: relative;
	top: 120px;

}

#btnSesion{

	position: absolute;
	
}

.formLabel{

	font-family: 'Raleway', sans-serif;
	font-size: 160%;

}

.formInput{

	font-family: 'Molengo', sans-serif;
	font-size: 130%;


}

.formButton{

	font-family: 'Raleway', sans-serif;
	font-size: 140%;

}

header{

	font-family: 'Raleway', sans-serif;
	font-size: 120%;

}

.formTable{

	font-family: 'Raleway', sans-serif;
	font-size: 120%;

}

#logForm{


	position: relative;
	top: 30px;

}
.alertWell{

	font-family: 'Raleway', sans-serif;
	font-size: 70%;

}

.confirmationWell{

	font-family: 'Raleway', sans-serif;
	font-size: 180%;

}

